.dashboard {
  padding: 30px 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  font-size: 40px;
}
.dashboard h1 {
  margin: 30px auto;
}
.dashboard h3 {
  text-align: center;
  margin: 30px auto;
}
