* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.my-app {
  max-width: 1400px;
  margin: 0 auto;
}
.my-app .slidbar-content {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.content {
  border-radius: 10px;
  background-color: rgb(196, 196, 197);
  width: 75%;
  min-height: 400px;
  max-width: 900px;
  margin: 0 50px 0 30px;
}
.content.dark {
  background-color: rgb(80, 80, 80);
  color: white;
}
/* Respnsive */
@media (max-width: 735px) {
  .content {
    width: 100%;
    border-radius: 0;
    margin: 0 auto;
  }
}
